<html>
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/layout.css">
    </head>
    <body>
        <h1><%= title%></h1>
        <% if (type=="Genre"){%>
            <a href="/genre/<%=genre%>/update">Edit genre</a>
        <%}%>
        
        <%- include('list',{books})%>
    </body>
</html>