<footer class="footer">
    <div>Made with love ♥️ by <a href="https://github.com/BelalHashem007">Belal Hashem</a></div>
    <div><a href="https://github.com/BelalHashem007/Inventory-app">repo</a></div>
    <div>Hosted by <a href="https://railway.com/">railway</a></div>
</footer>