<footer class="footer">
    <div>Made with love ♥️ by <a href="https://github.com/BelalHashem007" target="_blank">Belal Hashem</a></div>
    <div><a href="https://github.com/BelalHashem007/Inventory-app" target="_blank">repo</a></div>
    <div>Hosted by <a href="https://railway.com/" target="_blank">railway</a></div>
</footer>