<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/layout.css" />
  </head>
  <body>
    <%- include('header',{genres})%>
    <div class="page_container">
    </div>
    <%- include('footer')%>
  </body>
</html>
