<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/layout.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <% if(locals.genries) {%> <% genries.map(gen=> {%>
      <a href="/genre/<%=gen.name.toLowerCase()%>"><%=gen.name%></a>
      <%});%> <%}%>
    </div>
    <div>
        <a href="/book/all">All books</a>
    </div>
  </body>
</html>
